{% extends "notifications/base.html" %}

{% load i18n %}

{% block email_body %}
<tr>
  <td style="font-family: sans-serif; font-size: 14px; vertical-align: top; text-align: left;">
    <p>
      You have been invited to network with {{user_name}}
    </p>
    {% if message %}
    <p>Inviter's message</p>
    <p>{{ message }}</p>
    {% endif %}
  </td>
</tr>
<tr>
  <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">
    <a href="{{ current_site }}{{user_type}}/overview" target="_blank"
      style="display: inline-block; color: #ffffff; background-color: #00953B; border: solid 1px #00953B; border-radius: 5px; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-transform: capitalize; border-color: #00953B;">
      View in dashboard</a>
  </td>
</tr>
{% endblock %}
