{% extends "email_base.html" %}
{% load i18n %}
{% block email_body %}
{% autoescape off %}
<tr>
  <td style="font-family: sans-serif; font-size: 14px; vertical-align: top; text-align: left;">
    {% if is_client %}
      <p>Hi {{ user.first_name }}!</p>
    {% else %}
      <p>Hi {{ user.first_name }}!</p>
      <p>JusLaw has received your application. Once approved, our team will guide you to set up your account.</p>
      <p>JusLaw team.</p>
    {% endif %}
  </td>
</tr>
<tr>
  <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">
    <a href="{{ activate_url }}" target="_blank"
      style="display: inline-block; color: #ffffff; background-color: #00953B; border: solid 1px #00953B; border-radius: 5px; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-transform: capitalize; border-color: #00953B;">
      Please confirm your email</a>
  </td>
</tr>
{% endautoescape %}
{% endblock %}