{% extends "admin/index.html" %}

{% load i18n static %}
<!--Custom admin index view-->
<!--We extended sidebar, to add panel with statistics-->

{% block sidebar %}
<div id="content-related">
    <div class="module">
        <h2>{% blocktrans %} {{app_label}} app statistics {% endblocktrans %}</h2>
        <h3>{% trans 'User statistics' %}</h3>
            {% for stat_entry in users_stats %}
                <p>{{stat_entry.stats_msg}}: {{stat_entry.stats}}</p>
            {% endfor %}
        <h3>{% trans 'Business statistics' %}</h3>
            {% for stat_entry in business_stats %}
                <p>{{stat_entry.stats_msg}}: {{stat_entry.stats}}</p>
            {% endfor %}
        <h3>{% trans 'Forums statistics' %}</h3>
            {% for stat_entry in forums_stats %}
                <p>{{stat_entry.stats_msg}}: {{stat_entry.stats}}</p>
            {% endfor %}
        <h3>
            <a href="{%url 'admin:export_dashboard_statistics'%}" class="button" role="button" download>
              {% trans 'Export statistics' %}
            </a>
        </h3>
    </div>

    <div class="module"  id="recent-actions-module">
        <h2>{% trans 'Recent actions' %}</h2>
        <h3>{% trans 'My actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}
