{% extends "email_base.html" %}

{% load i18n %}
{% block email_body %}
  {% autoescape off %}
    {% if invite.first_name and invite.last_name %}
      <p>{% blocktrans %}Dear{% endblocktrans %}, {{ invite.first_name }} {{ invite.last_name }}.</p>
    {% endif %}
    <p>You have been invited by {{ invite.inviter }} to join Jus-Law.</p>
    {% if invite.message %}
      <p>Attorney's message:</p>
      <p>{{ invite.message }}</p>
    {% endif %}
    <p>Please follow <a href="{{ invite_link }}">this link</a> to join Jus-Law.</p>
  {% endautoescape %}
{% endblock %}
