{% extends "email_base.html" %}

{% load static %}
{% load i18n %}

{% block email_body %}
<tr>
  <td style="font-family: sans-serif; font-size: 14px; vertical-align: top; text-align: left;">
    <p>Hi, {{app_user.first_name}}!</p>
    <p>Thank you so much for your patience during this extremely busy time. Truly, thank you &#128522; We are thrilled to
      confirm and approve your application with us here at JusLaw.</p>
    <p>Need a few more steps to set up your account, Simply click the button and follow our guidance.</p>
  </td>
</tr>
<tr>
  <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">
    <a href="{{ login_url }}"
      style="display: inline-block; color: #ffffff; background-color: #00953B; border: solid 1px #00953B; border-radius: 5px; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-transform: capitalize; border-color: #00953B;">
      Log in to JusLaw</a>
  </td>
</tr>
{% endblock %}
